.NavigationListItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;

}

.NavigationListItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationListItem a:hover,
.NavigationListItem a:active,
.NavigationListItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationListItem {
        margin: 0;
        width: auto;
        display: flex;
        height: 100%;
        align-items: center;
    
    }
    
    .NavigationListItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationListItem a:hover,
    .NavigationListItem a:active,
    .NavigationListItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}